

/*SECCIONES GENERALES*/
/*unidad de medida 1 rem = 10px*/
html {
    font-size: 62.5%;
}
h1 {
    text-align: center;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration:underline;
    color: white;
    font-size: 25px;
    margin-right: 20px;
    background-color: rgb(17, 67, 175);
}
body{
    background-color: blue;
    color: white;
}

div{
    color: rgb(165, 42, 42,);
}

/*-----CIERRE DE SECCION GENERAL-----*/

/*-----HEADER, BARRA DE MENU-----*/

header{
    top: 0;  
    z-index: 1;
    background-color:skyblue;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;  
}
header img{
    width: 80px;
}
/**/
/*----cierre header-----*/
.parrafo-verde{
    color:greenyellow;
    background-color: rgba(0, 128, 0,);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Delicious Handrawn', cursive ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}


/*@media (max-width: 468px){
    #arriba, nav, div, ul, li  {
        display: flex;
        text-align: center;
        color: aliceblue;
        background-color: orange;
    }
}*/







.letra-grande{
    font-size: 3rem;
}




/*-----  SECTION BIENVENIDA  ------*/
#fondo-sky{
    display: grid;
    background-color: rgb(236, 125, 20);
    width: 900px;
    margin: 0 auto;
    font-size: 20px;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: 50px, 800px;   
}

#divTituloInicio{
    align-items: center;
    justify-content: center;
    grid-column:1/3;
    grid-row: 1/2;
}
.titulo-bienvenida{
    margin-top: 50px;
    margin-bottom: 50px;
}

.parrafo-de-inicio{
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 20px;
    margin: 15px 15px 15px 15px;
}

.imagen-inicio{  
    grid-column: 2/3;
    grid-row: 2/3;
}

.imgInicio2{
    object-fit: cover;
    width: auto;
    height: 500px;

}

/*-------Termina seccion inicio---*/



/*-------SECCION PRODUCTOS---------*/

#productos{
    margin-top: 20px;
   
}
.titulo-producto{
    align-items: center;
    justify-content: center;
    grid-column:1/3;
    grid-row: 1/2;
    margin-top: 20px;
    
}

.padre-card {
    display: grid;
    grid-template-columns: 100px 200px;
    grid-template-rows: 50px 100px;
}


.card {
    max-width: 18rem; /* ancho máximo de la tarjeta */
    margin: auto; /* centra horizontalmente la tarjeta */
    border: 1px solid #ccc; /* borde de la tarjeta */
  }
  
  .card-img {
    display: block; /* convierte la imagen en un elemento de bloque para centrarla */
    margin: 0 auto; /* centra horizontalmente la imagen */
  }
  
  .card-body {
    padding: 1rem; /* relleno interno de la tarjeta */
  }
  

.descuento {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
}


/* ------Termina seccion productos------*/
.px {
    font-size: 16px;
}
.rem {
    font-size: 1rem;
}


/*CSS grid 1 
.grid-container {
    display: grid;
    grid-template-columns: 100px 200px;
    grid-template-rows: 50px 100px;
}
*/
/*la fracciones son mas adaptativas para todos los dispositivos (profesor recomienda este)*/

.grid-container {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 2fr 4fr;
}

.grid-container div {
    border:solid 2px orangered;
}

nav {
    margin: 20px;
}

.border{
    border: solid orange;
    background-color: orangered;
}

/*--------SECCION CONTACTO----------*/
.contacto {
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    background-color: #D6D4A0;
}
  
.contacto h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media onlyscreen and (max-width: 468px){

    .contacto{
        background-color: red; 
    }
    
}

/*--------Cierrre contactos-----------*/


/*--------SECCION FOOTER--------*/

footer{
    margin-top: 10px;

}

.icono-ig{
    width: 30px;
    height: 30px;
}
.ir-arriba{
    background-color: chocolate;
}